extends ../layout/index 

block contenido
    div.py-10
        h1.text-4xl.my-10.fonnt-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold #{pagina}

    div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
        form.space-y-8
            div.space-y-5
                h3.text-lg.leading-6.font-medium.text-gray-900 Informacion General 
                p.text-gray-600 Añade Información sobre la propiedad en venta 
                div
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="titulo" name="titulo") Título de Anuncio
                    input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Titulo de la Propiedad, ej. Casa en la Playa" type="text" name="titulo" value= usuario ? usuario.titulo : "")